<!DOCTYPE html>
<html>
  <head>
    <title>
      Welcome to the Organization!
    </title>
  </head>
  <body>
    <p>
      Hello {{ member.fullName }},
    </p>
    <p>
      You have been added as a <strong>{{ role }}</strong>to the organization <strong>{{ organization.name }}</strong>.
    </p>
    <p>
      You can now access the organization's resources.
    </p>
    <p>
      Thank you!
    </p>
  </body>
</html>
