<p>
  Bonjour {{ user.fullName }},
</p>
<p>
  Veuillez cliquer sur le lien suivant pour vérifier votre adresse e-mail :
</p>
<p>
  <a href="http://localhost:3000/auth/confirm-email?email={{ user.email }}&token={{ token }}">Vérifier mon e-mail</a>
</p>
<p>
  Si vous n'avez pas demandé cette vérification, veuillez ignorer cet e-mail.
</p>
